<div>
    <div class="container-img-background">
        <button class="btn-goback" mat-mini-fab (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>        
    </div>
    <img *ngIf="character$ | async as character;" [src]="character.image" alt="img-avatar" class="img-avatar">    
    <div class="container-card-detail d-flex">
        <div *ngIf="character$ | async as character; else loading" class="container-detail">
            <div class="field d-flex flex-column">
                <mat-icon>badge</mat-icon>
                <label>Name: </label>
                <span>{{ character.name }}</span>
            </div>
            <div class="field d-flex flex-column">
                <mat-icon>wc</mat-icon>
                <label>Gender: </label>
                <span>{{ character.gender }}</span>
            </div>
            <div class="field d-flex flex-column">
                <mat-icon>info</mat-icon>
                <label>Status: </label>
                <span>{{ character.status }}</span>
            </div>
            <div class="field d-flex flex-column">
                <mat-icon>star_rate</mat-icon>
                <label>Species: </label>
                <span>{{ character.species }}</span>
            </div>
            <div class="field d-flex flex-column">
                <mat-icon>travel_explore</mat-icon>
                <label>Origin: </label>
                <span>{{ character.origin.name }}</span>
            </div>
        </div>
    </div>

    <ng-template #loading>
        <p>Loading character...</p>
    </ng-template>
</div>