<div class="container-background">
  <h1>💚 ¡Gracias por visitar nuestro sitio! 💚</h1>
  <p>Queremos agradecerte por explorar el universo de <strong>Rick and Morty</strong> a través de nuestra plataforma.
    Este
    proyecto fue creado con mucho entusiasmo, conectándose a la API oficial para traerte a tus personajes favoritos de
    forma rápida y fluida.</p>
  <p>Esperamos que disfrutes navegando por las diferentes páginas y descubriendo a cada personaje. Gracias a tecnologías
    como <strong>NgRx</strong>, hemos optimizado la experiencia para que sea más rápida y eficiente. ¡Tu visita es lo
    que
    hace que este proyecto cobre vida! 🚀</p>
  <div class="thank-you">¡Gracias por ser parte de esta aventura! 🙌</div>
  <a routerLink="/" class="cta-button">🏡 Volver al inicio</a>
</div>