<div class="container">
    <div class="px-md-5">
        <h1>🛸 ¡Bienvenido al universo de Rick and Morty! 🌌</h1>
        <p>Explora a todos tus personajes favoritos de la icónica serie animada <span class="emoji">👽</span><span
                class="emoji">🚀</span>. Nuestro sitio web se conecta directamente a la API oficial de Rick and Morty,
            brindándote datos de los personajes con una paginación fluida <span class="emoji">📦</span> y efectos de
            carga
            atractivos <span class="emoji">⏳</span>.</p>
        <p>Gracias al poder de <strong>NgRx</strong>, optimizamos las solicitudes de datos, garantizando una experiencia
            rápida
            y sin recargas innecesarias <span class="emoji">⚡</span><span class="emoji">🔥</span>.</p>
        <div class="d-flex">
            <a [routerLink]="['/characters']" class="cta-button m-auto">🔍 Explorar personajes</a>
        </div>
    </div>
</div>