<div class="main">
    <app-header (toogleEvent)="drawerToogle()"></app-header>
    <mat-drawer-container>
        <mat-drawer #drawer [mode]="mobileQuery.matches ? 'over' : 'side'" opened>
            <app-sidebar></app-sidebar>
        </mat-drawer>
        <mat-drawer-content>
            <div class="h-full">                
                <app-loading-page *ngIf="isLoading"></app-loading-page>
               <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>