<div class="container">
  <div #scrollContainer class="scrollable-container"></div>
  <div *ngIf="loading$ | async; else content" class="characters">
    <app-skeleton-card *ngFor="let i of [].constructor(20)"></app-skeleton-card>
  </div>
  <ng-template #content>
    <div *ngIf="(characters$ | async)?.length == 0; else characterFound" class="not-found">
      <img src="/404.gif" width="160">
      <h4>Characters not found</h4>
    </div>
  </ng-template>
  <ng-template #characterFound>
    <div *ngIf="!currentLoading" class="characters">
      <div *ngFor="let character of characters$ | async;">
        <app-card-character [character]="character"></app-card-character>
      </div>
    </div>
    <div class="paginator">
      <mat-paginator  showFirstLastButtons [length]="count$ | async" [pageSize]="20" (page)="onPageChanged($event)"
        [pageIndex]="currentPage - 1">
      </mat-paginator>
    </div>
  </ng-template>
</div>