.characters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}


.loading-spinner {
  text-align: center;
  font-weight: bold;
  padding: 16px;
}


.not-found{
  display: flex;
  flex-flow: column;
  margin-top: 50px;
  img,h4{
      margin: auto;
  }
  h4{
      margin-top: 10px;
  }
}